Add Category
<% if flash[:errors] %>
<% flash[:errors].each do |i|%>
  <p><%= i %></p>
<% end %>
<% end %>
<%= form_tag :action => 'create' do %>
  <%= label_tag('Name') %>
  <%= text_field :cate, :name %>
  <%= label_tag 'Description' %>
  <%= text_area :cate, :description %>
  <%= submit_tag 'Add' %>
<% end %>
<%= link_to 'Back', {:action => 'list'} %>